{% extends 'chat/base.html' %}
{% block content %}
<div class="card mb-5">
    <div class="card-header">
        Login
    </div>
    <div class="card-body">
        <form action="." method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_username">Username</label>
                <input type="text" class="form-control" name="username" required id="id_username" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="id_password">Password</label>
                <input type="password" class="form-control" name="password" required id="id_password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <div class="border-top pt-2 mt-3">
            <small class="text-muted">
                Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
            </small>
        </div>
    </div>
</div>

{% endblock content %}